.download-presentation
	padding-top 115px
	padding-bottom 375px
	background-size cover
	background-position center
	background-repeat no-repeat
	position relative
	@media md-all
		padding-top 50px
		padding-bottom 110px
	&:before
		content ''
		position absolute
		display block
		top 0
		left 0
		width 100%
		height 100%
		background-color rgba(29, 29, 29, .9)
		z-index 2
	.main-block
		position relative
		display flex
		justify-content space-between
		@media md
			align-items center
			justify-content center
			&:after
				content ''
				display block
				position absolute
				bottom -40px
				left 0
				width 100%
				height 900px
				border 13px solid #f5263f
				z-index 2
		@media md-all
			flex-direction column
			padding 0 45px
		@media sm
			&:after
				content ''
				display block
				position absolute
				bottom -40px
				left 0
				width 100%
				height 900px
				border 13px solid #f5263f
				z-index 2
		@media xs
			&:after
				content ''
				display block
				position absolute
				bottom -40px
				left 0
				width 100%
				height 120%
				border 13px solid #f5263f
				z-index 2
		.title
			top 100px
			left 0
			color $white
			font-size 200px
			font-weight 700
			line-height .8
			text-transform uppercase
			position absolute
			z-index 1
			@media md-all
				font-size 72px
	.block.laptop
		&:after
			content ''
			display block
			position absolute
			right -80px
			top 60px
			width 530px
			height 422px
			background-image url(/img/download-presentation/laptop.png)
			background-position center
			background-repeat no-repeat
			background-size contain
			z-index 10
			@media custom
				width 430px
				height 322px
				top 100px
				right 0
			@media lg
				width 430px
				height 322px
				top 100px
				right 0
			@media md
				width 285px
				height 237px
				right auto
				left 0
				top 100px
			@media sm
				width 285px
				height 237px
				right auto
				left 0
				top 100px
			@media xs
				width 285px
				height 237px
				right -50px
				top 100px
	.borders-block
		display flex
		flex-direction column
		align-items center
		position  relative
		@media md-all
			margin-top 40px
		&:after
			content ''
			display block
			position absolute
			bottom -52px
			left 0
			width 100%
			// width 800px
			height 825px
			border 20px solid $red
			z-index 1
			@media custom
				width 100%
			@media lg
				width 100%
			@media md-all
				border 0px solid transparent
	.block
		position relative
		z-index 10
		width 50%
		@media md-all
			width 100%
		.block-item
			.titles
				.item-title
					color $red
					font-size 30px
					font-weight 700
					text-transform uppercase
					line-height 1
					@media md-all
						font-size 16px
				.item-subtitle
					color $white
					font-size 48px
					font-weight 700
					text-transform uppercase
					line-height 1
					@media md-all
						font-size 30px
		.bottom-text
			max-width 555px
			margin-top 390px
			padding-left 30px
			color $white
			font-size 16px
			font-weight 400
			line-height 30px
			text-transform uppercase
			position relative
			@media md-all
				font-size 14px
				margin-top 290px
				line-height 22px
			&:before
				content ''
				width 11px
				height 18px
				position absolute
				left 0
				top 8px
				background-image url(/img/download-presentation/lines.png)
				background-position center
				background-repeat no-repeat
	.form
		width 70%
		@media md-all
			width 100%
		.form-title
			margin-bottom 45px
			color $white
			font-size 36px
			font-weight 700
			line-height 1.1
			text-transform uppercase
			@media md-all
				font-size 24px
		.form-input
			margin-bottom 35px
			position relative
			z-index 20
			width 100%
			max-width 492px
			@media xs
				max-width 100%
			input
				width 100%
				padding-bottom 15px
				color $white
				font-size 24px
				font-weight 300
				line-height 1
				text-transform uppercase
				border-top none
				border-right none
				border-left none
				border-color #a3a3a3
				border-width 1px
				background-color transparent
				outline none
				@media md-all
					font-size 16px
				&:placeholder
					color #a3a3a3
		.form-submit
			margin-top 85px
			position relative
			z-index 10
			@media md-all
				margin-top 35px
			input
				cursor pointer
				width 351px
				padding 25px 0
				color $white
				font-size 24px
				font-weight 800
				line-height 1
				text-transform uppercase
				border none
				background-color $red
				box-shadow 0 31px 49px rgba(245, 38, 63, 0.44)
				@media md-all
					padding 15px 0
					width 220px