.img-section
	padding-top 50px
	padding-bottom 125px
	@media md-all
		padding-bottom 50px
	.block-img
		.img-lg
			width 100%
			height 612px
			@media sm-xs
				height 230px
		.img-sm
			width 100%
			height 314px
			@media sm-xs
				height 120px
		.item-img
			.img
				width 100%
				height 100%
				background-size cover
				background-position center
				background-repeat no-repeat
	.first-row
		@media md-all
			margin-bottom 30px
		.img-sm
			margin-top 30px
	.second-row
		.img-sm
			margin-bottom 30px