.planning
	.planning-title
		color #202020
		font-size 92px
		font-weight 800
		text-transform uppercase
		@media md-all
			font-size 40px
	.blocks
		.block-item
			min-height 450px
			margin-bottom 45px
			display flex
			flex-direction column
			justify-content space-between
			align-items center
			position relative
			box-shadow 0 11px 38px rgba(0, 0, 0, 0.1)
			@media custom
				min-height 400px
			@media lg
				min-height 400px
			@media md-all
				min-height 280px
				margin-bottom 25px
			.item-header
				display flex
				justify-content space-between
				padding-top 25px
				@media sm-xs
					width 90%
				.header-circle
					border-radius 50%
					border 1px solid #c2c2c2
					display flex
					justify-content center
					flex-direction column
					align-items center
					width 100px
					height 100px
					@media custom
						width 80px
						height 80px
					@media lg
						width 80px
						height 80px
					@media md-all
						width 80px
						height 80px
					.circle-title
						color #585858
						font-size 10px
						font-weight 400
						line-height 1.2
					.circle-number
						color #f5263f
						font-size 24px
						font-weight 800
						line-height 1
						@media custom
							font-size 20px
						@media lg
							font-size 20px
						@media md-all
							font-size 20px
				.header-img
					width 180px
					height 180px
					@media custom
						width 160px
						height 160px
					@media lg
						width 160px
						height 160px
					@media md-all
						width 120px
						height 120px
					.img
						width 100%
						height 100%
						background-size auto
						background-repeat no-repeat
						background-position top
						@media md-all
							background-size cover
			.body-text
				.text-title
					color #202020
					font-size 24px
					font-weight 800
					line-height 1.5
					@media md-all
						font-size 18px
				.text-sub-title
					color #747474
					font-size 16px
					font-weight 400
					line-height 1
					text-transform uppercase
					@media md-all
						font-size 14px
			.footer-call
				width 100%
				display flex
				justify-content flex-end
				.call
					display flex
					justify-content center
					align-items center
					background-color #f5263f
					width 209px
					height 61px
					@media md-all
						width 160px
						height 50px
					a
						color $white
						font-size 16px
						font-weight 800
						line-height 1.3
	.info-block
		min-height 945px
		padding-top 180px
		padding-bottom 80px
		padding-left 80px
		padding-right 80px
		background-color $black
		background-position top
		background-repeat no-repeat
		background-size contain
		position relative
		display flex
		justify-content space-between
		flex-direction column
		@media lg
			min-height 700px
			padding-top 80px
			padding-bottom 80px
			padding-left 30px
			padding-right 30px
		@media custom
			min-height 800px
			padding-top 80px
			padding-bottom 80px
			padding-left 40px
			padding-right 40px
		@media md-all
			min-height 400px
			padding-left 20px
			padding-right 20px
			padding-top 70px
			padding-bottom 40px
		&:before
			content ''
			display inline-block
			top 0
			left 0
			position absolute
			height 18px
			width 70%
			background-color #f5263f
		.block-text
			max-width 310px
			color $white
			font-size 16px
			font-weight 400
			text-transform uppercase
			@media sm-xs
				font-size 12px
		.get-planning
			margin-top 120px
			box-shadow 0 31px 49px rgba(245, 38, 63, 0.44)
			@media md-all
				margin-top 50px
			a
				padding 15px 40px
				color $white
				font-size 18px
				font-weight 800
				text-transform uppercase
				background-color #f5263f
				@media lg
					padding 15px 18px
					font-size 12px

				@media custom
					padding 15px 30px
				@media md-all
					font-size 12px
					padding 12px 18px
	.procent-block
		margin-top 45px
		display flex
		justify-content space-between
		align-items center
		@media lg
			align-items flex-start
		@media md-all
			align-items flex-start
		.procent
			color #f5263f
			font-size 52px
			font-weight 800
			@media lg
				font-size 34px
				line-height 1
				margin-right 5px
			@media md-all
				font-size 34px
				line-height 1
				margin-right 5px
		.procent-text
			color $white
			font-size 16px
			font-weight 300
			@media lg
				font-size 14px
				line-height 1.1
				br
					display none
			@media md-all
				font-size 14px
				line-height 1.1
				br
					display none
			span
				color #87787a