footer
	.container-fluid
		.footer-block
			.block-item
				.logo
					.img(style="background-image: url(/img/footer/logo.png)")
			.block-item
				.item-title.title--grey АГЕНТСТВО НЕДВИЖИМОСТИ
				.item-sub-title FLAGMAN ESTATE
			.block-item
				.item-title.title--red ТЕЛЕФОН
				.phone
					a(href="tel:89991234567") +7 999 123 4567
			.block-item
				.item-title.title--red E-MAIL
				.email
					a(href="mailto: flagmanestate@mail.ru") flagmanestate@mail.ru
			.block-item
				.get-call
					a(href="#" data-toggle="modal" data-target="#feedbackModal") ЗАКАЗАТЬ ЗВОНОК