.modal.fade.header-modal#headerModal
	.modal-dialog
		.modal-content
			.modal-header
				a.logo(href="#") Headliner
				a.circle(href="" data-dismiss="modal")
					//- img(src="/img/icons/across.png" alt="across")
					i.far.fa-times-circle(data-dismiss="modal")
			.modal-body
				.modal-body-container#modal-anchor
					.body-item
						.item-title
							a(href="") УСЛУГИ
						.item-title
							a(href="") О КОМПАНИИ
						.item-title
							a(href="") КОНТАКТЫ