.modal.fade.header-modal#headerModal
	.modal-dialog
		.modal-content
			.modal-header
				a.logo(href="#") Hard Workers
				a.circle(href="" data-dismiss="modal")
					img(src="/img/icons/across.png" alt="across")
					//- i.far.fa-times-circle(data-dismiss="modal")
			.modal-body
				.modal-body-container#modal-anchor
					.body-item
						.item-title.title-dropdown УСЛУГИ
							ul.dropdown
								li
									a(href="") УСЛУГА ПЕРВАЯ
								li
									a(href="") ВТОРАЯ УСЛУГА
								li
									a(href="") УСЛУГА ТРИ
						.item-title
							a(href="") О КОМПАНИИ
						.item-title
							a(href="") КОНТАКТЫ