header
	.container-fluid
		.header-block
			.logo-block
				.logo-pre-title АГЕНТСТВО НЕДВИЖИМОСТИ
				.logo-title FLAGMAN ESTATE
				.logo-img
					.img(style="background-image: url(/img/icons/logo-text.png)")
			.contacts-block
				.block-item
					.item-title ТЕЛЕФОН
					.link
						a(href="tel:89991234567") +7 999 123 4567
				.block-item
					.item-title E-MAIL
					.link
						a(href="mailto:flagmanestate@mail.ru") flagmanestate@mail.ru
				.block-modal
					//- a(href="mailto: flagmanestate@mail.ru") ПОЛУЧИТЬ ПЛАНИРОВКИ И ЦЕНЫ
					a(href="#" data-toggle="modal" data-target="#feedbackModal") ПОЛУЧИТЬ ПЛАНИРОВКИ И ЦЕНЫ
			.hamburger-modal
					a(href="#" data-toggle="modal" data-target="#headerModal")
						i
						i
						i