section.img-section
	.container-fluid
		.row.block-img
			.col-lg-6
				.row.first-row
					.col-lg-12.item-img.img-lg
						.img(style="background-image: url(/img/img-section/1.jpg)")
					.col-lg-6.col-6.item-img.img-sm
						.img(style="background-image: url(/img/img-section/2.jpg)")
					.col-lg-6.col-6.item-img.img-sm
						.img(style="background-image: url(/img/img-section/3.jpg)")
			.col-lg-6.second-row
				.row
					.col-lg-6.col-6.item-img.img-sm
						.img(style="background-image: url(/img/img-section/4.jpg)")
					.col-lg-6.col-6.item-img.img-sm
						.img(style="background-image: url(/img/img-section/5.jpg)")
					.col-lg-12.item-img.img-lg
						.img(style="background-image: url(/img/img-section/6.jpg)")