section.info-quarter
	.info-quarter-preveiw
		.container-fluid
			.preview-title.
				это истинное выражение передовых мировых трендов, а его жители — хедлайнеры, главные герои жизни мегаполиса.
			.preview-blocks
				.block-item.order-end
					.item-img
						.img(style="background-image: url(/img/info-quarter/1.jpg)")
				.block-item.block-big-number
					.item-number 3
					.item-text минуты ПЕШКОМ ДО СТАНЦИИ МЕТРО «ШЕЛЕПИХА»
				.block-item.block-flex
					.item-number 53
					.item-text этажность САМОго высокого здания
				.block-item.block-flex
					.item-number 175
					.item-text ВЫСОТА ЖИЛОГО КОМПЛЕКСА в метрах
	.info-quarter-body
		.container-fluid
			.body-blocks
				.block-item
					.item-text.
						МНОГОФУНКЦИОНАЛЬНЫЙ ЖИЛОЙ КВАРТАЛ HEADLINER РАСПОЛОЖЕН В ЦАО, В НЕПОСРЕДСТВЕННОЙ БЛИЗОСТИ ОТ МОСКВА-СИТИ. УНИКАЛЬНОСТЬ НОВОГО ОБЪЕКТА, ПОМИМО НЕОБЫЧНОЙ ДЛЯ РОССИИ ВЫСОТЫ ЗДАНИЙ И НАСЫЩЕННОСТИ ИННОВАЦИОННЫМИ РЕШЕНИЯМИ, РАСКРЫВАЕТСЯ В ИНДИВИДУАЛЬНОСТИ КАЖДОГО ДОМА, БЛАГОУСТРОЙСТВЕ ПРИЛЕГАЮЩЕЙ ТЕРРИТОРИИ, НАСЫЩЕННОСТИ СОЦИАЛЬНЫМИ И КОММЕРЧЕСКИМИ ФУНКЦИЯМИ.
				.block-item.order-1
					.item-img
						.img(style="background-image: url(/img/info-quarter/1.jpg)")
				.block-item.order-2
					.item-img
						.img(style="background-image: url(/img/info-quarter/3.jpg)")
	.info-quarter-footer
		.container-fluid
			.footer-block
				.block-item
					.item-img
						.img(style="background-image: url(/img/icons/parking.png)")
					.item-text
						.text-title подземный паркинг
						.text-sub-title на 2200 автомобилей
				.block-item
					.item-img
						.img(style="background-image: url(/img/icons/water-line.png)")
					.item-text
						.text-title 700 метров
						.text-sub-title до набережной
				.block-item
					.item-img
						.img(style="background-image: url(/img/icons/child-garden.png)")
					.item-text
						.text-title детский сад
						.text-sub-title на 130 детей
				.block-item
					.item-img
						.img(style="background-image: url(/img/icons/moscow-city.png)")
					.item-text
						.text-title 10 минут
						.text-sub-title до москва сити