<!DOCTYPE html>
html.page(lang="ru")
	include _head.pug
	body
		main.page-content
			include _header.pug
			block content
			include _footer.pug

		script(src="../vendor/jquery/jquery.min.js")
		script(src="../vendor/input-mask/jquery.inputmask.js")
		script(src="../vendor/slick-slider/slick.min.js")
		script(src="../vendor/bootstrap/bootstrap.bundle.min.js")
		script(src="../fonts/fontawesome/all.min.js")
		script(src="../js/all.min.js")