<!DOCTYPE html>
html.page(lang="ru")
	include _head.pug
	body
		main.page-content
			include _header.pug
			block content
			include _footer.pug

		script(src="../vendor/jquery/jquery.min.js")
		script(src="../vendor/plyr/plyr.min.js")
		script(src="../vendor/input-mask/jquery.inputmask.js")
		script(src="../vendor/slick-slider/slick.min.js")
		script(src="../vendor/bootstrap/bootstrap.bundle.min.js")
		script(src="../fonts/fontawesome/all.min.js")
		script(src="../vendor/audio/audiojs/audio.min.js")
		script(src="../vendor/sly-slider/sly.min.js")
		script(src="https://api-maps.yandex.ru/2.1/?apikey=43baa0d6-1da3-419b-87f8-02a3bdf3057e&lang=ru_RU" type="text/javascript")
		script(src="../js/all.min.js")