section.list-cards
	.container-fluid
		.block
			.block-item
				.item-img
					.img(style="background-image: url(/img/list-cards/geo-white.png)")
				.item-text-wrapper
					.item-title Эксклюзивная локация в ЦАО
					.item-text.
						Лучшее предложение в Пресненском районе. 2 мин до м. «Шелепиха», 450 м от «Москва-сити».
						В непосредственной близости от Headliner расположены: школы, гимназии, детские сады. спортшкола, школа олимпийского резерва, спорткомплексы, фитнес и wellness клубы, дворец водного спорта. детская и три взрослых поликлиники. торговые центры, банки, музеи, выставочные комплексы.
			.block-item
				.item-img
					.img(style="background-image: url(/img/list-cards/landscape-white.png)")
				.item-text-wrapper
					.item-title Благоустройство и ландшафт
					.item-text.
						Территория «большого сити» как новый деловой, культурный и инфраструктурный центр города является стратегически важным проектом для Москвы. Жить в центре развивающегося района — значит иметь доступ к самым современным и высококачественным объектам благоустройства, социальной сферы и транспортных возможностей.
			.block-item
				.item-img
					.img(style="background-image: url(/img/list-cards/more-apartment-white.png)")
				.item-text-wrapper
					.item-title Разнообразие форматов квартир
					.item-text.
						При покупке квартиры с отделкой «под ключ» мы создадим для вас уникальный дизайн жилого пространства с использованием самых новых технологичных и экологичных материалов. На выбор предлагаются 4 варианта отделки: АКВИЛОН, МИСТРАЛЬ, СИРОККО, ЗЕФИР