.planning
	.container-fluid
		.planning-title ПЛАНИРОВКИ
		.blocks.row
			.col-lg-4.col-md-6.col-sm-6.col-12
				.block-item
					.item-header
						.header-circle
							.circle-title ПЛОЩАДЬ ОТ
							.circle-number 42 м2
						.header-img
							.img(style="background-image: url(/img/planning/p1.jpg)")
					.body-text
						.text-title 1-комнатные
						.text-sub-title 8 вариантов планировки
					.footer-call
						.call
							a(href="#" data-toggle="modal" data-target="#feedbackModal") УЗНАТЬ ЦЕНЫ
				.block-item
					.item-header
						.header-circle
							.circle-title ПЛОЩАДЬ ОТ
							.circle-number 42 м2
						.header-img
							.img(style="background-image: url(/img/planning/p2.jpg)")
					.body-text
						.text-title 1-комнатные
						.text-sub-title 8 вариантов планировки
					.footer-call
						.call
							a(href="#" data-toggle="modal" data-target="#feedbackModal") УЗНАТЬ ЦЕНЫ
			.col-lg-4.col-md-6.col-sm-6.col-12
				.block-item
					.item-header
						.header-circle
							.circle-title ПЛОЩАДЬ ОТ
							.circle-number 42 м2
						.header-img
							.img(style="background-image: url(/img/planning/p3.jpg)")
					.body-text
						.text-title 1-комнатные
						.text-sub-title 8 вариантов планировки
					.footer-call
						.call
							a(href="#" data-toggle="modal" data-target="#feedbackModal") УЗНАТЬ ЦЕНЫ
				.block-item
					.item-header
						.header-circle
							.circle-title ПЛОЩАДЬ ОТ
							.circle-number 42 м2
						.header-img
							.img(style="background-image: url(/img/planning/p4.jpg)")
					.body-text
						.text-title 1-комнатные
						.text-sub-title 8 вариантов планировки
					.footer-call
						.call
							a(href="#" data-toggle="modal" data-target="#feedbackModal") УЗНАТЬ ЦЕНЫ
			.col-lg-4.col-md-12.col-sm-4.col-12
				.info-block(style="background-image: url(/img/planning/right-block-bg.png)")
					.block-text.
						Жилой комплекс предлагает планировочные решения самых удобных эргономичных форматов. Студии площадью от 29,5 м2, 1-, 2-, -3 и 4-комнатные квартиры площадью 40-120 м2 с черновой и чистовой отделкой. На выбор представлены также три варианта готовой дизайнерской отделки «под ключ»
					.body-block
						.get-planning
							a(href="#" data-toggle="modal" data-target="#feedbackModal") ПОЛУЧИТЬ ПЛАНИРОВКИ И ЦЕНЫ
						.procent-block
							.procent %
							.procent-text <span>Также вышлем</span> специальные предложения <br><span>от застройщика со </span>скидкой 7%