section.preview(style="background-image: url(/img/preview/preview-bg.jpg")
	.container-fluid
		.titles
			.preview-title В ЦЕНТРЕ <br> ЖИЗНИ <br> МЕГАПОЛИСА
			.preview-bottom-title Квартал <br> Headliner —