section.special-offer(style="background-image: url(/img/special-offer/bg.png)")
	.container-fluid
		.main-block
			.block.human
				.block-item
					.titles
						.item-title Небоскребы для жизни с благоустроенной территорией
						.item-red-items
							.item-ttitle
							.item-ttitle
					.bottom-text
						.text-titles
							.text-title ЛУЧШИЕ ПРЕДЛОЖЕНИЯ
							.sub-title Мы вышлем вам эксклюзивные предложения от застройщика и инвесторов <span> с выгодой до 20%</span>
						.text-titles
							.text-title БЕЗОПАСНАЯ СДЕЛКА
							.sub-title Мы <span>гарантируем безопасность сделки</span>, предоставление всей необходимой документации
						.text-titles
							.text-title ДИСТАНЦИОННО
							.sub-title Наши менеджеры покажут подробную презентацию жилого комплекса через Zoom или WhatsApp, устроят для вас онлайн-тур
			.block.borders-block
				form.form(action="#")
					.form-title ПОЛУЧИТЬ СПЕЦИАЛЬНЫЕ <br> ПРЕДЛОЖЕНИЯ
					.form-subtitle ПРЕДЛОЖЕНИЯ БУДУТ ДОСТУПНЫ <span>СРАЗУ ПОСЛЕ <br> ЗАПОЛНЕНИЯ ФОРМЫ</span>
					.form-input
						input(type="text" name="first_name" placeholder="ВАШЕ ИМЯ")
					.form-input
						input.phone-form(type="text" name="fhone" placeholder="ТЕЛЕФОН")
					.form-submit
						input(type="submit" value="ПОЛУЧИТЬ")